{% from "macros.twig" import btn %}

{% extends "layout.twig" %}

{% block content %}

<h1>Изменение исполнителя {{ artist.name }}</h1>

<hr>

<form action="" enctype="multipart/form-data" method="POST" class="row g-3">
	<div class="col-6">
		<label class="form-label">Название</label>
		<input required type="text" class="form-control" name="name" value="{{ artist_name }}">
	</div>
	<div class="col-6">
		<label for="cover" class="form-label">Обложка (останется прошлой, если не будет выбрана)</label>
		<input class="form-control" type="file" id="cover" name="cover">
	</div>
	<div class="col-12">
		<button type="submit" class="btn btn-primary">Изменить</button>
	</div>
</form>

{% endblock %}